.header {
  background-color: $headerBgColor;
  border-bottom: 1px solid $borderColor;

  &__container {
    max-width: 1370px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @media (max-width: 767px) {
      height: 60px;
    }
  }
  &__logo {
    position: relative;
    z-index: 3;
    @media (max-width: 450px) {
      flex: 0 0 150px;
    }
    @media (max-width: 330px) {
      flex: 0 0 120px;
    }
    img {
      max-width: 100%;
    }
  }
}

.menu {
  &__list {
    display: flex;
    gap: 31px;

    align-items: center;
    list-style: none;

    // @include adaptiveClamp('gap', 31, 15, 1400, 768, 1);
    @media (max-width: 1024.98px) {
      gap: 15px;
    }
    li {
      position: relative;
    }
  }

  &__link {
    color: #222;
    text-decoration: none;
    font-size: 15px;
    &:hover {
      color: red;
    }
    img {
      padding-left: 4px;
    }
  }
  &__item {
    display: flex;
    &_four {
      margin-right: 8px;
    }
    &_five {
      align-items: center;
      padding-left: 33px;
      border-left: 1px solid $borderColor;
      height: 79px;
    }
    &_six {
      @media (max-width: 943px) {
        display: none;
      }
    }
  }
}
.sub-menu__item {
  display: none;
  position: absolute;
  top: 10px;
  left: 0px;
  list-style: none;
  padding-top: 20px;
  font-size: 15px;

  width: 100%;
  li {
    padding-bottom: 10px;
    background-color: rgb(218, 224, 230);
    //border: 1px solid #222;
  }
  a {
    text-decoration: none;
    color: $borderColor;

    &:hover {
      color: blue;
    }
  }
}
.menu__list > li:hover .sub-menu__item {
  display: block;
  text-align: center;
  @media (max-width: 767px) {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;

    &:before,
    &:after {
      content: "";
      background-color: $borderColor;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      position: absolute;
      background-color: $borderColor;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    padding: 70px 0 20px 10px;

    span {
      display: none;
    }
    a img {
      display: none;
    }
    &__item_four {
      margin-right: 0;
    }
    &__item_five {
      border-left: none;
      padding-left: 0;
      height: 15px;
    }
    &__list {
      display: block;
    }
    &__item {
      margin: 0 0 20px 0;
    }
    &__link {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: purple;
      z-index: 2;
    }
  }
}
