

//@mixin size ($width, $height,) {
  //width: $width;
  //height: $height;
//}
@mixin bigFont {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@mixin biggestFont {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 64px;
  font-weight: 700;
}
@mixin padd ($padd...){
  padding: $padd;
}
@mixin Border {
  border: 1px solid $borderColor
}
@mixin link ($link, $hover, $active, $visited) {
  color: $link;
  &:hover {
    color: lighten ($link, 30);
  }
  &:active {
    color: $active;
  }
  &:visited {
    color: $visited;
  }
}
@mixin flexGap {
  gap: 31.17px;
}
