@use "sass:math";

@import "variables";
@import "mixins";

@import "header";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: 400;
  //background-color: $headerBgColor;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: $headerBgColor;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1270px;

  margin: 0 auto;
  padding: 0 15px;
}

.page {
  background-color: #efeee8;
}
.page__container {
  background-color: #efeee8;
  padding: 80px 0;
  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }
  @media screen and (max-width: 500px) {
    padding: 15px 0 0 0;
  }
}

.text {
  max-width: 890px;
  height: 362px;
  margin: 0 auto;
  text-align: center;

  &__text {
    @include biggestFont;
    margin-top: 13px;
    margin-bottom: 29px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 596px) {
      font-size: 42px;
    }
    @media screen and (max-width: 500px) {
      font-size: 35px;
    }
    @media screen and (max-width: 420px) {
      font-size: 30px;
    }
    @media screen and (max-width: 358px) {
      font-size: 25px;
    }
  }
  &__description {
    font-size: 22px;
    max-width: 884px;
    margin-bottom: 56px;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
    @media screen and (max-width: 500px) {
      font-size: 16px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 466px) {
      font-size: 15px;
    }
    @media screen and (max-width: 380px) {
      font-size: 14px;
      margin-bottom: 35px;
    }
  }

  &__explorer {
    color: #efeee8;
    background-color: $borderColor;
    text-decoration: none;
    max-width: 242px;
    //height: 64px;
    padding: 21px 24px;
    &::after {
      content: " \2192";
      padding-left: 35px;
    }
    &:hover {
      background-color: #efeee8;
      color: $borderColor;
      border: 1px solid $borderColor;
    }
    @media screen and (max-width: 600px) {
      padding: 16px 19px;
      font-size: 16px;
    }
    @media screen and (max-width: 532px) {
      padding: 13px 16px;
      font-size: 15px;
    }
    @media screen and (max-width: 465px) {
      padding: 10px 13px;
      font-size: 14px;
    }
    @media screen and (max-width: 420px) {
      padding: 9px 12px;
      font-size: 13px;
    }
  }
}
.page__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  img {
    max-width: 100%;

    @media screen and (max-width: 768px) {
      padding: 0;
      margin-top: 0px;
    }
  }
}

//body block

.about {
  padding: 100px 0;
  //background-color: #efeee8;

  @media screen and (max-width: 960px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 500px) {
    padding: 0px 0;
  }
  &__container {
  }
}
.header-about {
  display: flex;
  padding-top: 21px;
  &__image {
    flex: 0 0 50%;
    position: relative;
    min-height: 200px;
    @media screen and (max-width: 957px) {
      flex: 0 0 33.333%;
    }
    @media screen and (max-width: 630px) {
      display: none;
    }

    img {
      object-fit: cover;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &__text {
    margin-left: 54px;
    padding: 58px 0 0 48px;
    @media screen and (max-width: 1030px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 630px) {
      margin-left: auto;
    }
  }
}
.text-block {
  @media (max-width: 630px) {
    padding-left: 5px;
  }
  &__bigfont {
    h2 {
      padding-bottom: 28px;
      @include bigFont;
    }
    p {
      @media (max-width: 500px) {
        font-size: 15px;
      }
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }
  }

  &__two {
    margin-top: 51px;
  }
}

.block-two {
  display: block;

  &__header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__body {
    display: block;
    max-width: 507px;
    font-size: 16px;
    @media (max-width: 500px) {
      font-size: 13px;
    }
    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
  }
  &__first {
    padding: 16px 0;

    border-bottom: 1px solid $borderColor;
  }
  &__second {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__third {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__four {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__five {
    padding: 16px 0;
    border-bottom: 1px solid $borderColor;
  }
}

.header-about__button {
  margin-top: 62px;
  font-size: 16px;
  padding: 14px 24px;
  background-color: $borderColor;
  cursor: pointer;
  @media (max-width: 500px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 600px) {
    padding: 12px 21px;
    font-size: 15px;
  }
  @media screen and (max-width: 500px) {
    padding: 12px 17px;
    font-size: 14px;
    margin-top: 30px;
  }
  @media screen and (max-width: 380px) {
    padding: 10px 11px;
    font-size: 12px;
  }

  a {
    color: #efeee8;
    text-decoration: none;

    &::after {
      content: " \2192";
      padding-left: 35px;
      color: #efeee8;
      @media (max-width: 425px) {
        padding-left: 20px;
      }
    }
  }
  &:hover {
    background-color: red;
  }
}
//

[class*="__bigfont"] {
  h2 {
    padding-bottom: 28px;
    @include bigFont;
    @media screen and (max-width: 768px) {
      font-size: 40px;
    }
    @media screen and (max-width: 596px) {
      font-size: 32px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
    @media screen and (max-width: 420px) {
      font-size: 25px;
    }
    @media screen and (max-width: 358px) {
      font-size: 20px;
    }
  }
}
.portfolio__bigfont p {
  max-width: 634px;
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
  @media screen and (max-width: 500px) {
    font-size: 13px;
  }
  @media screen and (max-width: 430px) {
    font-size: 12px;
  }
}

.portfolio {
  margin-top: 176px;
  @media (max-width: 1024px) {
    margin-top: 100px;
  }
  @media (max-width: 500px) {
    margin-top: 70px;
  }

  &__block {
    margin-top: 43px;

    padding-bottom: 40px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    display: flex;
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  //flex-wrap: wrap;
  //justify-content: space-between;

  .last {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 20px;
    @media (max-width: 900px) {
      margin-top: 10px;
    }
    @media (max-width: 600px) {
      margin: 0;
    }
  }

  &__item {
    background-color: #e4e2d3;
    max-width: 392px;
    max-height: 358px;
    overflow: hidden;

    margin: 0 20px 0 0px;
    padding: 24px 24px 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 900px) {
      margin: 0 10px 0 0px;
      padding: 10px 10px 16px 10px;
    }
    @media (max-width: 600px) {
      margin: 0 0px 10px 0;
      padding: 24px 24px 30px 24px;
    }
  }

  &__image {
    img {
      max-width: 100%;
    }
  }
  &__text {
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    font-size: 16px;
    @media (max-width: 500px) {
      font-size: 12px;
    }

    &::after {
      content: "\2014";
    }
  }
}
.portfolio__about,
.portfolio__blog,
.portfolio__other {
  margin-top: 55px;
}

///

.about__footer {
  margin-top: 160px;
  @media (max-width: 800px) {
    margin-top: 100px;
  }
  @media (max-width: 500px) {
    margin-top: 55px;
  }
  @media (max-width: 630px) {
    background: url(/pictures/body/footer.png) 50% no-repeat;
  }
  //display: flex;
}
.footer-about {
  display: flex;

  &__section {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
  }
}
.footer-about__image {
  flex: 0 0 50%;
  @media (max-width: 957px) {
    flex: 0 0 33.333%;
  }
  @media (max-width: 630px) {
    display: none;
  }
  min-height: 570px;
  max-width: 484px;

  img {
    width: 100%;
  }
}
.footer-about__collapse {
  position: relative;
}

.footer-about__text {
  position: absolute;
  bottom: 24px;
  left: 24px;

  background: #333333;

  padding: 24px;
  max-width: 436px;

  @media (max-width: 630px) {
    display: none;
  }
  p {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 16px;
    color: rgba(239, 238, 232, 0.9);
    line-height: 21.28px;
    padding-bottom: 15px;
  }
  span {
    font-family: "Reenie Beanie", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #efeee8;
  }
}

.footer-about__form {
  margin: 80px 0 0 54px;
  max-width: 440px;
  overflow: hidden;
  @media (max-width: 1030px) {
    margin-left: 20px;
  }
  @media (max-width: 630px) {
    margin: 30px auto 0;
    text-align: center;
  }
  @media (max-width: 400px) {
    margin-top: 15px;
  }

  .footer-about__bigfont {
    @include bigFont;
    max-width: 429px;
  }

  .footer-about__input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
      margin-top: 0;
    }
    li {
      list-style: none;
      padding: 15px 0 0 0px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.8);
      font-family: "Libre Baskerville", sans-serif;
      font-size: 16px;
      line-height: 21.28px;
      @media (max-width: 460px) {
        padding: 10px;
      }
    }
    input {
      width: 100%;
      object-fit: cover;
      height: 55px;
      padding-left: 34px;
      background-color: #efeee8;
      @media (max-width: 460px) {
        height: 30px;
      }
      @media (max-width: 630px) {
        background: url(/pictures/body/footer.png);
      }
    }
    button {
      background-color: #333333;
      height: 52px;
      width: 100%;
      color: #efeee8;
      padding: 15px 164px;
      margin-top: 40px;
      margin-bottom: 40px;
      cursor: pointer;
      font-family: "Libre Baskerville", sans-serif;
      font-size: 16px;
      font-weight: 700;
      background-color: #333333;
      color: #efeee8;
      cursor: pointer;
      @media (max-width: 950px) {
        padding: 15px 85px;
      }
      @media (max-width: 450px) {
        font-size: 14px;
      }
      &:hover {
        background-color: rgb(107, 107, 40);
        color: #131010;
      }
    }
  }
}
