@import "variables";
@import "mixins";

@import "header";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $headerBgColor;
  margin: 0 auto;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  background-color: #efeee8;
}
.page__container {
  background-color: #efeee8;
  padding: 80px 0;
  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }
  @media screen and (max-width: 500px) {
    padding-bottom: 5px;
  }
}

.text {
  max-width: 890px;
  height: 362px;
  margin: 0 auto;
  text-align: center;

  &__text {
    @include biggestFont;
    margin-top: 13px;
    margin-bottom: 29px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 596px) {
      font-size: 42px;
    }
    @media screen and (max-width: 500px) {
      font-size: 35px;
    }
    @media screen and (max-width: 420px) {
      font-size: 30px;
    }
    @media screen and (max-width: 358px) {
      font-size: 25px;
    }
  }
  &__description {
    font-size: 22px;
    max-width: 884px;
    margin-bottom: 56px;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
    @media screen and (max-width: 500px) {
      font-size: 16px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 466px) {
      font-size: 15px;
    }
    @media screen and (max-width: 380px) {
      font-size: 14px;
      margin-bottom: 35px;
    }
  }

  &__explorer {
    color: #efeee8;
    background-color: $borderColor;
    text-decoration: none;
    max-width: 242px;
    //height: 64px;
    padding: 21px 24px;
    &::after {
      content: " \2192";
      padding-left: 35px;
    }
    &:hover {
      background-color: #efeee8;
      color: $borderColor;
      border: 1px solid $borderColor;
    }
    @media screen and (max-width: 600px) {
      padding: 16px 19px;
      font-size: 16px;
    }
    @media screen and (max-width: 532px) {
      padding: 13px 16px;
      font-size: 15px;
    }
    @media screen and (max-width: 465px) {
      padding: 10px 13px;
      font-size: 14px;
    }
    @media screen and (max-width: 420px) {
      padding: 9px 12px;
      font-size: 13px;
    }
  }
}
.page__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  img {
    max-width: 100%;

    @media screen and (max-width: 768px) {
      padding: 0;
      margin-top: 0px;
    }
  }
}

//body block

.about {
  padding: 100px 0;
  background-color: #efeee8;

  @media screen and (max-width: 960px) {
    padding: 50px 0;
  }
  &__container {
  }
}
.header-about {
  display: flex;
  padding-top: 21px;
  &__image {
    flex: 0 0 50%;
    position: relative;
    min-height: 200px;
    @media screen and (max-width: 957px) {
      flex: 0 0 33.333%;
    }
    img {
      object-fit: cover;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &__text {
    margin-left: 54px;
    padding: 58px 0 0 48px;
    @media screen and (max-width: 1030px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 5px;
    }
  }
}
.text-block {
  &__bigfont {
    h2 {
      padding-bottom: 28px;
      @include bigFont;
    }
  }

  &__two {
    margin-top: 51px;
  }
}

.block-two {
  display: block;

  &__header {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__body {
    display: block;
    max-width: 507px;
    font-size: 16px;
  }
  &__first {
    padding: 16px 0;

    border-bottom: 1px solid $borderColor;
  }
  &__second {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__third {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__four {
    padding: 19px 0 13px 0;
    border-bottom: 1px solid $borderColor;
  }
  &__five {
    padding: 16px 0;
    border-bottom: 1px solid $borderColor;
  }
}

.header-about__button {
  margin-top: 62px;
  font-size: 16px;
  padding: 14px 24px;
  background-color: $borderColor;
  cursor: pointer;
  a {
    color: #efeee8;
    text-decoration: none;

    &::after {
      content: " \2192";
      padding-left: 35px;
      color: #efeee8;
    }
  }
  &:hover {
    background-color: red;
  }
}
//

.about__body {
  margin-top: 176px;
}
[class*="__bigfont"] {
  h2 {
    padding-bottom: 28px;
    @include bigFont;
  }
}
.body-about__bigfont p {
  max-width: 634px;
}
.body-about__images {
  margin-top: 43px;
}
.image-body {
  &__section {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
.one-image {
  
  background-color: #e4e2d3;
  max-width: 392px;
  min-height: 358px;
  padding: 24px 24px 0 24px;
  

  &__image {
    
    width: 100%;
    margin-bottom: 22px;
  }
  &__text {
    
      &:after {
    content: "\2014";
    padding-left: 196px;
    
    
    
  }
}
}
